{% extends 'gp/layout.html.twig' %}

{% block title %}
    {{ parent() }} - all stock
{% endblock %}
    {% block ban %}
        <!-- Inner Container Start -->
        <div class="container">

            <!-- Statistics Button Container -->
            <div class="mws-stat-container clearfix">

                <!-- Statistic Item -->
                <a class="mws-stat" href="#">
                    <!-- Statistic Icon (edit to change icon) -->
                    <span class="mws-stat-icon icol32-building"></span>

                    <!-- Statistic Content -->
                        <span class="mws-stat-content">
                        	<span class="mws-stat-title">Floors Climbed</span>
                            <span class="mws-stat-value">324</span>
                        </span>
                </a>

                <a class="mws-stat" href="#">
                    <!-- Statistic Icon (edit to change icon) -->
                    <span class="mws-stat-icon icol32-sport"></span>

                    <!-- Statistic Content -->
                        <span class="mws-stat-content">
                        	<span class="mws-stat-title">Calories Burned</span>
                            <span class="mws-stat-value down">74%</span>
                        </span>
                </a>

                <a class="mws-stat" href="#">
                    <!-- Statistic Icon (edit to change icon) -->
                    <span class="mws-stat-icon icol32-walk"></span>

                    <!-- Statistic Content -->
                        <span class="mws-stat-content">
                        	<span class="mws-stat-title">Kilometers Walked</span>
                            <span class="mws-stat-value">14</span>
                        </span>
                </a>

                <a class="mws-stat" href="#">
                    <!-- Statistic Icon (edit to change icon) -->
                    <span class="mws-stat-icon icol32-bug"></span>

                    <!-- Statistic Content -->
                        <span class="mws-stat-content">
                        	<span class="mws-stat-title">Bugs Fixed</span>
                            <span class="mws-stat-value up">22%</span>
                        </span>
                </a>

                <a class="mws-stat" href="#">
                    <!-- Statistic Icon (edit to change icon) -->
                    <span class="mws-stat-icon icol32-car"></span>

                    <!-- Statistic Content -->
                        <span class="mws-stat-content">
                        	<span class="mws-stat-title">Cars Repaired</span>
                            <span class="mws-stat-value">77</span>
                        </span>
                </a>
            </div>

            <!-- Panels Start -->

            <div class="mws-panel grid_4">
                <div class="mws-panel-header">
                    <span>all stock</span>
                </div>
                <div class="mws-panel-body no-padding">
                    <form class="mws-form" action="{{ url('all_stock') }}" method="post">
                        <div class="mws-form-inline">
                            <div class="mws-form-row bordered">
                                <label class="mws-form-label">zbgf</label>
                                <div class="mws-form-item">
                                    <input type="text" class="small" name="zbgf_price" placeholder="{% if zbgf_price %}{{ zbgf_price }}{% endif %}" value="">
                                </div>
                            </div>
                            <div class="mws-form-row bordered">
                                <label class="mws-form-label">gldq</label>
                                <div class="mws-form-item">
                                    <input type="text" class="small" name="gldq_price" placeholder="{% if gldq_price %}{{ gldq_price }}{% endif %}" value="">
                                </div>
                            </div>
                            <div class="mws-form-row bordered">
                                <label class="mws-form-label">hxxf</label>
                                <div class="mws-form-item">
                                    <input type="text" class="small" name="hxxf_price" placeholder="{% if hxxf_price %}{{ hxxf_price }}{% endif %}" value="">
                                </div>
                            </div>
                            <div class="mws-form-row bordered">
                                <label class="mws-form-label">mdjt</label>
                                <div class="mws-form-item">
                                    <input type="text" class="small" name="mdjt_price" placeholder="{% if mdjt_price %}{{ mdjt_price }}{% endif %}" value="">
                                </div>
                            </div>
                            <div class="mws-form-row bordered">
                                <label class="mws-form-label">选项</label>
                                <div class="mws-form-item clearfix">
                                    <ul class="mws-form-list inline">
                                        <li><input type="radio"  name="field" value="lower_ratio" {% if field == 'lower_ratio' %}checked{% endif %}> <label>低买</label></li>
                                        <li><input type="radio" name="field" value="ceiling_ratio" {% if field == 'ceiling_ratio' %}checked{% endif %}> <label>高卖</label></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="mws-form-row bordered">
                                <label class="mws-form-label">开盘涨幅缩减范围选项</label>
                                <div class="mws-form-item clearfix">
                                    <ul class="mws-form-list inline">
                                        <li><input type="radio"  name="openingRatio_range" value="1" {% if openingRatio_range == 1 %}checked{% endif %}> <label>1</label></li>
                                        <li><input type="radio" name="openingRatio_range" value="2" {% if openingRatio_range == 2 %}checked{% endif %}> <label>2</label></li>
                                        <li><input type="radio" name="openingRatio_range" value="3" {% if openingRatio_range == 3 %}checked{% endif %}> <label>3</label></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="mws-form-row bordered">
                                <label class="mws-form-label">年份</label>
                                <div class="mws-form-item clearfix">
                                    <ul class="mws-form-list inline">
                                        <li><input type="radio"  name="year_range" value="0" {% if year_range == 0 %}checked{% endif %}> <label>0</label></li>
                                        <li><input type="radio" name="year_range" value="1" {% if year_range == 1 %}checked{% endif %}> <label>1</label></li>
                                        <li><input type="radio" name="year_range" value="2" {% if year_range == 2 %}checked{% endif %}> <label>2</label></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="mws-button-row">
                            <input type="submit" value="Submit" class="btn btn-danger">
                            <input type="reset" value="Reset" class="btn ">
                        </div>
                    </form>
                </div>
            </div>
            {% if data %}
                <div class="mws-panel grid_8">
                    <div class="mws-panel-header">
                        <span><i class="icon-table"></i> 结果</span>
                    </div>
                    <div class="mws-panel-body no-padding">
                        <table class="mws-table">
                            <thead>
                            <tr>
                                <th>名称</th>
                                <th>涨可能性</th>
                                <th>涨时价格</th>
                                <th>跌可能性</th>
                                <th>跌时价格</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for k,v in data %}
                            <tr>
                                <td>{{ k }}</td>
                                <td>{{ v.rise.probability }}</td>
                                <td>{{ v.rise.price }}</td>
                                <td>{{ v.fall.probability }}</td>
                                <td>{{ v.fall.price }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endif %}
            <!-- Panels End -->
        </div>
        <!-- Inner Container End -->
    {% endblock %}

    {% block javascripts_special %}

    {% endblock %}

