{% extends 'gp/layout.html.twig' %}

{% block title %}
    {{ parent() }} - {{ name }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('gupiao/css/getRatio.css')  }}" media="screen">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('gupiao/js/all_data.js')  }}"></script>
{% endblock %}
{% block ban %}
    <div class="mws-panel grid_4">
        <div class="mws-panel-header">
            <span>筛选表单</span>
        </div>
        <div class="mws-panel-body no-padding">
            <form name="frm2" class="mws-form" action="{{ url('get_ratio',{'name':name}) }}" method="post" target="_blank">
                <div class="mws-form-inline">
                    <div class="mws-form-row bordered">
                        <label class="mws-form-label">开盘价格</label>
                        <div class="mws-form-item">
                            <input name="opening_price" class="small" type="text" value="">%
                        </div>
                    </div>
                    <div class="mws-form-row bordered">
                        <label class="mws-form-label">开盘涨幅</label>
                        <div class="mws-form-item">
                            <input name="opening_ratio" class="small" type="text" value="">%
                        </div>
                    </div>
                    <div class="mws-form-row bordered">
                        <label class="mws-form-label">昨日走势</label>
                        <div class="mws-form-item">
                            <input name="pre_count" class="small" type="text" value="">%
                        </div>
                    </div>
                    <div class="mws-form-row bordered">
                        <label class="mws-form-label">两天前走势</label>
                        <div class="mws-form-item">
                            <input name="pre_two_count" class="small" type="text" value="">%
                        </div>
                    </div>
                    <div class="mws-form-row bordered">
                        <label class="mws-form-label">三天前走势</label>
                        <div class="mws-form-item">
                            <input name="pre_three_count" class="small" type="text" value="none">%
                        </div>
                    </div>
                    <div class="mws-form-row bordered">
                        <label class="mws-form-label">股票名称</label>
                        <div class="mws-form-item">
                            <select name="gupiao_name" class="large">
                                <option selected value="zbgf">志邦股份</option>
                                <option value="hxxf">华夏幸福</option>
                                <option value="gldq">格力电器</option>
                                <option value="mdjt">美的集团</option>
                            </select>
                        </div>
                    </div>
                </div>
                {#<div class="mws-form-row bordered">#}
                            {#<label class="mws-form-label">缩减范围</label>#}
                            {#<div class="mws-form-item clearfix">#}
                                {#<ul class="mws-form-list inline">#}
                                    {#<li><input type="radio" name="range" value="0"> <label>0</label></li>#}
                                    {#<li><input type="radio" name="range" value="1"> <label>1</label></li>#}
                                    {#<li><input type="radio" name="range" value="2"> <label>2</label></li>#}
                                    {#<li><input type="radio" name="range" value="3"> <label>3</label></li>#}
                                {#</ul>#}
                            {#</div>#}
                        {#</div>#}
                        <div class="mws-form-row bordered">
                            <label class="mws-form-label">低买还是高卖</label>
                            <div class="mws-form-item clearfix">
                                <ul class="mws-form-list inline">
                                    <li><input type="radio" name="field" value="lower_ratio"> <label>低买</label></li>
                                    <li><input type="radio" name="field" value="ceiling_ratio"> <label>高卖</label></li>
                                </ul>
                            </div>
                        </div>

                <div class="mws-button-row">
                    <a href="javascript:void(0);" onclick="submit1(document.frm2)" class="btn btn-danger">提交</a>
                </div>
            </form>
        </div>
    <hr>
    <br/>
    {#{{ data[1]['name']}}#}
    {#{% for data1 in datas.jinrishangzhang %}#}
        {#{% for _name in names[0]['name'] %}#}
        {#{{ names[0]['name']  }}#}
        {#{% endfor %}#}
        {#{% if data1 == 1 %}#}
    <div class="mws-panel grid_8" >
                	<div class="mws-panel-header">
                    	<span><i class="icon-table"></i>{{ datas.jinrishangzhang.name }} 今日上涨--{% if datas.jinrixiadie.field=='ceiling_ratio' %} 高卖{% else %} 低买 {% endif %}</span>
                    </div>
                    <div class="mws-panel-body no-padding">
                        <table class="mws-table">
                            <thead>
                                <tr>
                                    <th>缩减范围</th>
                                    <th>两天 Date</th>
                                    <th>两天 ratio</th>
                                    <th>两天 可能性</th>
                                    <th>两天 预测</th>
                                    {% if datas['jinrishangzhang'] %}
                                        <th>三天 Date</th>
                                        <th>三天 ratio</th>
                                        <th>三天 可能性</th>
                                        <th>三天 预测</th>
                                    {% endif %}
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>范围缩减0</td>
                                    <td>{% for date in datas.jinrishangzhang.two_day.range_0.history_data.res.date %}{{ date }}/{% endfor %}</td>
                                    <td>{{ datas.jinrishangzhang.two_day.range_0.history_data.res.ratio }}</td>
                                    <td>{{ datas.jinrishangzhang.two_day.range_0.history_data.probability }}</td>
                                    <td>{% for forecast in datas.jinrishangzhang.two_day.range_0.forecast_data %}{{ forecast }}|{% endfor %}</td>
                                    {%  if datas.jinrishangzhang.three_day%}
                                        <td>{% for date in datas.jinrishangzhang.three_day.range_0.history_data.res.date %}{{ date }}/{% endfor %}</td>
                                        <td>{{ datas.jinrishangzhang.three_day.range_0.history_data.res.ratio }}</td>
                                        <td>{{ datas.jinrishangzhang.three_day.range_0.history_data.probability }}</td>
                                        <td>{% for forecast in datas.jinrishangzhang.three_day.range_0.forecast_data %}{{ forecast }}|{% endfor %}</td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <td>范围缩减1</td>
                                    <td>{% for date in datas.jinrishangzhang.two_day.range_1.history_data.res.date %}{{ date }}/{% endfor %}</td>
                                    <td>{{ datas.jinrishangzhang.two_day.range_1.history_data.res.ratio }}</td>
                                    <td>{{ datas.jinrishangzhang.two_day.range_1.history_data.probability }}</td>
                                    <td>{% for forecast in datas.jinrishangzhang.two_day.range_1.forecast_data %}{{ forecast }}|{% endfor %}</td>
                                    {%  if datas.jinrishangzhang.three_day%}
                                        <td>{% for date in datas.jinrishangzhang.three_day.range_1.history_data.res.date %}{{ date }}/{% endfor %}</td>
                                        <td>{{ datas.jinrishangzhang.three_day.range_1.history_data.res.ratio }}</td>
                                        <td>{{ datas.jinrishangzhang.three_day.range_1.history_data.probability }}</td>
                                        <td>{% for forecast in datas.jinrishangzhang.three_day.range_1.forecast_data %}{{ forecast }}|{% endfor %}</td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <td>范围缩减2</td>
                                    <td>{% for date in datas.jinrishangzhang.two_day.range_2.history_data.res.date %}{{ date }}/{% endfor %}</td>
                                    <td>{{ datas.jinrishangzhang.two_day.range_2.history_data.res.ratio }}</td>
                                    <td>{{ datas.jinrishangzhang.two_day.range_2.history_data.probability }}</td>
                                    <td>{% for forecast in datas.jinrishangzhang.two_day.range_2.forecast_data %}{{ forecast }}|{% endfor %}</td>
                                    {%  if datas.jinrishangzhang.three_day%}
                                        <td>{% for date in datas.jinrishangzhang.three_day.range_2.history_data.res.date %}{{ date }}/{% endfor %}</td>
                                        <td>{{ datas.jinrishangzhang.three_day.range_2.history_data.res.ratio }}</td>
                                        <td>{{ datas.jinrishangzhang.three_day.range_2.history_data.probability }}</td>
                                        <td>{% for forecast in datas.jinrishangzhang.three_day.range_2.forecast_data %}{{ forecast }}|{% endfor %}</td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <td>范围缩减3</td>
                                    <td>{% for date in datas.jinrishangzhang.two_day.range_3.history_data.res.date %}{{ date }}/{% endfor %}</td>
                                    <td>{{ datas.jinrishangzhang.two_day.range_3.history_data.res.ratio }}</td>
                                    <td>{{ datas.jinrishangzhang.two_day.range_3.history_data.probability }}</td>
                                    <td>{% for forecast in datas.jinrishangzhang.two_day.range_3.forecast_data %}{{ forecast }}|{% endfor %}</td>
                                    {%  if datas.jinrishangzhang.three_day%}
                                        <td>{% for date in datas.jinrishangzhang.three_day.range_3.history_data.res.date %}{{ date }}/{% endfor %}</td>
                                        <td>{{ datas.jinrishangzhang.three_day.range_3.history_data.res.ratio }}</td>
                                        <td>{{ datas.jinrishangzhang.three_day.range_3.history_data.probability }}</td>
                                        <td>{% for forecast in datas.jinrishangzhang.three_day.range_3.forecast_data %}{{ forecast }}|{% endfor %}</td>
                                    {% endif %}
                                </tr>
                    </tbody>
                </table>
            </div>
        <div class="mws-panel-header">
            <span><i class="icon-table"></i>{{ datas.jinrixiadie.name }} 今日下跌--{% if datas.jinrixiadie.field=='ceiling_ratio' %} 高卖{% else %} 低买 {% endif %}</span>
        </div>
        <div class="mws-panel-body no-padding">
            <table class="mws-table">
                <thead>
                <tr>
                    <th>缩减范围</th>
                    <th>两天 Date</th>
                    <th>两天 ratio</th>
                    <th>两天 可能性</th>
                    <th>两天 预测</th>
                    {% if datas['jinrixiadie'] %}
                        <th>三天 Date</th>
                        <th>三天 ratio</th>
                        <th>三天 可能性</th>
                        <th>三天 预测</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>范围缩减0</td>
                    <td>{% for date in datas.jinrixiadie.two_day.range_0.history_data.res.date %}{{ date }}/{% endfor %}</td>
                    <td>{{ datas.jinrixiadie.two_day.range_0.history_data.res.ratio }}</td>
                    <td>{{ datas.jinrixiadie.two_day.range_0.history_data.probability }}</td>
                    <td>{% for forecast in datas.jinrixiadie.two_day.range_0.forecast_data %}{{ forecast }}|{% endfor %}</td>
                    {%  if datas.jinrixiadie.three_day%}
                        <td>{% for date in datas.jinrixiadie.three_day.range_0.history_data.res.date %}{{ date }}/{% endfor %}</td>
                        <td>{{ datas.jinrixiadie.three_day.range_0.history_data.res.ratio }}</td>
                        <td>{{ datas.jinrixiadie.three_day.range_0.history_data.probability }}</td>
                        <td>{% for forecast in datas.jinrixiadie.three_day.range_0.forecast_data %}{{ forecast }}|{% endfor %}</td>
                    {% endif %}
                </tr>
                <tr>
                    <td>范围缩减1</td>
                    <td>{% for date in datas.jinrixiadie.two_day.range_1.history_data.res.date %}{{ date }}/{% endfor %}</td>
                    <td>{{ datas.jinrixiadie.two_day.range_1.history_data.res.ratio }}</td>
                    <td>{{ datas.jinrixiadie.two_day.range_1.history_data.probability }}</td>
                    <td>{% for forecast in datas.jinrixiadie.two_day.range_1.forecast_data %}{{ forecast }}|{% endfor %}</td>
                    {%  if datas.jinrixiadie.three_day%}
                        <td>{% for date in datas.jinrixiadie.three_day.range_1.history_data.res.date %}{{ date }}/{% endfor %}</td>
                        <td>{{ datas.jinrixiadie.three_day.range_1.history_data.res.ratio }}</td>
                        <td>{{ datas.jinrixiadie.three_day.range_1.history_data.probability }}</td>
                        <td>{% for forecast in datas.jinrixiadie.three_day.range_1.forecast_data %}{{ forecast }}|{% endfor %}</td>
                    {% endif %}
                </tr>
                <tr>
                    <td>范围缩减2</td>
                    <td>{% for date in datas.jinrixiadie.two_day.range_2.history_data.res.date %}{{ date }}/{% endfor %}</td>
                    <td>{{ datas.jinrixiadie.two_day.range_2.history_data.res.ratio }}</td>
                    <td>{{ datas.jinrixiadie.two_day.range_2.history_data.probability }}</td>
                    <td>{% for forecast in datas.jinrixiadie.two_day.range_2.forecast_data %}{{ forecast }}|{% endfor %}</td>
                    {%  if datas.jinrixiadie.three_day%}
                        <td>{% for date in datas.jinrixiadie.three_day.range_2.history_data.res.date %}{{ date }}/{% endfor %}</td>
                        <td>{{ datas.jinrixiadie.three_day.range_2.history_data.res.ratio }}</td>
                        <td>{{ datas.jinrixiadie.three_day.range_2.history_data.probability }}</td>
                        <td>{% for forecast in datas.jinrixiadie.three_day.range_2.forecast_data %}{{ forecast }}|{% endfor %}</td>
                    {% endif %}
                </tr>
                <tr>
                    <td>范围缩减3</td>
                    <td>{% for date in datas.jinrixiadie.two_day.range_3.history_data.res.date %}{{ date }}/{% endfor %}</td>
                    <td>{{ datas.jinrixiadie.two_day.range_3.history_data.res.ratio }}</td>
                    <td>{{ datas.jinrixiadie.two_day.range_3.history_data.probability }}</td>
                    <td>{% for forecast in datas.jinrixiadie.two_day.range_3.forecast_data %}{{ forecast }}|{% endfor %}</td>
                    {%  if datas.jinrixiadie.three_day%}
                        <td>{% for date in datas.jinrixiadie.three_day.range_3.history_data.res.date %}{{ date }}/{% endfor %}</td>
                        <td>{{ datas.jinrixiadie.three_day.range_3.history_data.res.ratio }}</td>
                        <td>{{ datas.jinrixiadie.three_day.range_3.history_data.probability }}</td>
                        <td>{% for forecast in datas.jinrixiadie.three_day.range_3.forecast_data %}{{ forecast }}|{% endfor %}</td>
                    {% endif %}
                </tr>
                </tbody>
            </table>
        </div>
{% endblock %}